<h1>Triangle Dimensions</h1>

<form action="/results">
  <div class="form-group">
     <label for="triangle">Enter three numbers here! <em>ie. 12, 20, 16</em>
     </label>
     <input id="triangle" name="triangle" class="form-control" type="Fixnum">
    </br>
  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
